*body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-1{
    width: 30%;
    height: 60vh;
    box-sizing: border-box;
    border: 1px solid black;
    margin-left: 35%;
    margin-top: 8%;
    border-radius: 20px;
    background-color: black;
}  
.para-1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: x-large;
    margin-left: 27%;
    color: white;
}  
.inp-1{
    margin-left: 10%;
    margin-top: 10%;
    height: 5vh;
    border-radius: 10px;
    width: 80%;
}
.inp-2{
    margin-left: 10%;
    margin-top: 10%;
    height: 5vh;
    border-radius: 10px;
    width: 80%;
}
:placeholder-shown{
    text-align: center;
}
.btn-1{
    color: white;
    margin-left: 35%;
    margin-top: 5%;
    background-color: black;
    border: none;
    display: block;
}
.barelvi{
    width: 80%;
    height: 6vh;
    border-radius: 10px;
    margin-left: 10%;
    margin-top: 10%;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}
.barelvi:hover{
    background-color: blue;
}
.btn-1:hover{
    color: blue;
}










